<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nyxwolves.wannabuy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJyWOI91uaP3SaGzsuful39Iqi0_A5Wzc" />

        <service android:name=".notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashScreen"
            android:noHistory="true"
            android:theme="@style/noActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".activities.NameAndEmail"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".activities.PasswordActivity"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".activities.EmailLogin"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".activities.BuyOrRent"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.AreaLocality"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.PropertyType"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.PropertySubType"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.FurnishedOrNot"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.Bhk"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.NewOrResale"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.Budget"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.PropertySize"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.FacingActivity"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.RequirementsSearchActivity"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".activities.FacilitiesActivities"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.ApprovalActivity"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.RoadWidth"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.RentalEndDate"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.RentalPropertyType"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.RentalAdvance"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.RentalTenantName"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.ROIRentalActivity"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.RentalInvestment"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.PetsActivity"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.AdsActivity"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.MessageActivity"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.MyAdsActivity"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".activities.AccountActivity"
            android:theme="@style/noActionbar" />
        <activity android:name=".chat.ChatActivity" />
        <activity
            android:name=".contacts.ContactActivity"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".activities.CarParking"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.AgeOfProperty"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.CornerActivity"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.FlooringActivity"
            android:theme="@style/questionTheme" />
        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/noActionbar" />
        <activity android:name=".activities.AdsDetailActivity"
            android:theme="@style/noActionbar"/>
    </application>

</manifest>